body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(209, 209, 209);
  }

ul {
    list-style: none;
}
  
a {
    text-decoration: none;
    color: white;
}

.container{
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 16px;
    margin-top: 24px;   
}

.section__wrapper{
  display: flex;
}

.section__right{
  background: white;
  max-width: 225px;
  width: 100%;
  flex-direction: column;
  padding: 20px 70px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;  
}

.section__right p{
  color: gray;
}

.section__span{
  font-size: large;
  color: rgb(145, 220, 195);
}

.span{
  font-size: 10px;
  margin-left: 20px;
}

.section__btn{
  margin-top: 20px;
}

.btn{
  background-color: rgb(145, 220, 195);
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

.section__pic{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
